<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Paboda\Company\Api\Data\GridInterface" type="Paboda\Company\Model\Company" />

    <virtualType name="Paboda\Company\Model\ResourceModel\Company\Company\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">paboda_company</argument>
            <argument name="resourceModel" xsi:type="string">Paboda\Company\Model\ResourceModel\Company</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">
                    Paboda\Company\Model\ResourceModel\Company\Company\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="add-company" type="Paboda\Company\Plugin\Customer\Model\Customer\CompanyDataProvider"/>
    </type>

    <virtualType name="Paboda\Company\HelloWorldImageUpload" type="Paboda\Company\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">customer_company/tmp</argument>
            <argument name="basePath" xsi:type="string">customer_company</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Paboda\Company\Controller\Adminhtml\Index\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Paboda\Company\HelloWorldImageUpload</argument>
        </arguments>
    </type>
</config>
